<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAn_nP63HVQNcRHS7b6qqLkmuWhbRa0b8k</string>
	<key>GCM_SENDER_ID</key>
	<string>665421397029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginUi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>practice-87327</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-87327.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665421397029:ios:8f2b73e0d10873f13b53cc</string>
</dict>
</plist>